/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

This stylesheet will be used for tablets and larger devices
like desktops. The grid starts working here and you can get
busy with more stylings.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
}

.form-wrap {
	width: 700px;
	margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/

.header {

}

#logo {
	img {
		width: 200px;
	}
}

.logo-dark {
	img {
		width: 200px;
	}
}



/*********************
NAVIGATION STYLES
*********************/

nav {}

.main-menu {}

.header-nav { // class on the main navigation nav element

}

.header {
	background-color: $white;
	font-family: $Panton;
	font-size: 1.2em;
	transition: background-color 200ms ease-in;
	#inner-header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo-dark {
		padding: 1em;
	}
	#logo {
		display: none;
	}
	.nav { // the ul element
		margin: 0;
		padding: 0;
		border: 0;
		list-style-type: none;
		padding: 0 0 2em 0;
		li {
			float: left;
			list-style: none;
			padding: 0 15px 0 15px;
			a {
				display: block;
				padding: 0.2em;
				border-bottom: 0;
				text-decoration: none;
				color: $r-dark-blue;

				/*
				you can use hover styles here even though this size
				has the possibility of being a mobile device.
				*/
				&:hover, &:focus {
					text-decoration: none;
					color: lighten($r-dark-blue, 18);
				}
			}

			&:first-child {}
			&:last-child {}

			/*
			plan your menus and drop-downs wisely.
			*/
			ul.sub-menu,
			ul.children {
				position: absolute;
				z-index: 8999;
				visibility: hidden;

				li {

					a {

						&:hover,
						&:focus {}

						&:link {}
					}

					&:first-child {}

					&:last-child {

						a {
							border-bottom: 0;
						}
					}

					/*
					if you need to go deeper, go nuts
					just remember deeper menus suck
					for usability. k, bai.
					*/
					ul {}
				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current_page_ancestor {
					a {}
				}
			}

			/* showing sub-menus */
			&:hover > ul {
				top: auto;
				visibility:visible;
			}

		} /* end .menu ul li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {
			a {}
		}  /* end current highlighters */

	} /* end .nav */
}

.header.sticky {
	transition: background-color 200ms ease-in;
	#inner-header{
	height: 70px;
	background-color: $r-dark-blue;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: background-color 200ms ease-in;
	}
	#logo {
		display: block;
		img {
			padding: 1em;
			padding-bottom: .8em;
			width: 150px;
		}
	}
	.logo-dark {
		display: none;
		transition: display 600ms ease-in;
	}
	nav {
		margin-left: auto;
	}

	.main-menu {}

	.header-nav { // class on the main navigation nav element

	}

	.nav { // the ul element
		margin: 0;
		padding: 0;
		border: 0;
		list-style-type: none;
		padding-right: 15px;
			@media screen and (max-width: 1050px) {
				display: none;
			}
		li {
			float: left;
			list-style: none;
			a {
				display: block;
				padding: 0.2em;
				border-bottom: 0;
				text-decoration: none;
				color: $r-orange;

				/*
				you can use hover styles here even though this size
				has the possibility of being a mobile device.
				*/
				&:hover, &:focus {
					text-decoration: none;
					color: $r-light-blue;
				}
			}

			&:first-child {}
			&:last-child {}

			/*
			plan your menus and drop-downs wisely.
			*/
			ul.sub-menu,
			ul.children {
				position: absolute;
				z-index: 8999;
				visibility: hidden;

				li {

					a {

						&:hover,
						&:focus {}

						&:link {}
					}

					&:first-child {}

					&:last-child {

						a {
							border-bottom: 0;
						}
					}

					/*
					if you need to go deeper, go nuts
					just remember deeper menus suck
					for usability. k, bai.
					*/
					ul {}
				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current_page_ancestor {
					a {}
				}
			}

			/* showing sub-menus */
			&:hover > ul {
				top: auto;
				visibility:visible;
			}

		} /* end .menu ul li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {
			a {}
		}  /* end current highlighters */

	} /* end .nav */
}
/********************
CONTENT STYLES
********************/

.section-inner {
	text-align: center;
	color: $r-dark-blue;
	.section-heading {
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 3.5em;
		font-weight: bold;
		color: $r-dark-blue;
		margin: 0;
	}
}

.section-gray {
	background-color: $r-gray;
}

.hero-outer {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	.hero-inner {

		.hero-taglines {
			.hero-tagline-1 {
				color: $r-dark-blue;
				padding: 3em 0 0 0;
			}
			.hero-tagline-2 {
				color: $r-dark-blue;
				padding: 3em 0 7em 0;
			}
		}
	}
}

.overview-outer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 2em 0 2em;
	.overview-gif {
		width: 300px;
	}
	.overview-infographic {
		padding: 0 1em 0 1em;
		img {
			width: 100px;
		}
		p {
			font-family: $Panton;
			font-size: 1.2em;
		}
	}
}

.hiw-outer {
	display: flex;
	justify-content: center;
	padding: 0 2em 2em 2em;
	.hiw-infographic {
		display: flex;
		align-items: flex-start;
		.hiw-infographic-inner {
			img {
				height: 80px;
			}
			p {
				font-family: $Panton;
				font-size: 1.2em;
			}
		}
	}
}

.flex-column {
	flex-direction: column;
}

.background-slide {
	height: 400px;
	background-size: 100%;
	background-position: center;
}

.hiw-descriptions {
	text-align: left;
	display: flex;
	align-items: center;
	font-family: $Panton;
	.description-container li.description::before {
			counter-increment: section;
			content: counter(section);
			font-size: 2em;
			background-color: $r-dark-blue;
			color: white;
			font-weight: bold;
			padding: 3px 15px;
			border-radius: 10px;
			width: 80px;
		}
	.description-container {
		display: flex;
		margin-left: 0;
    padding-right: 0;
    list-style-type: none;
		counter-reset: section;
		.description {
			padding: 1em;
			width: 49%;
			a {
				color: $r-dark-blue;
			}
			h4 {
				color: $r-dark-blue;
				margin-top: 1em;
				text-align: left;
				font-size: 2em;
			}
			ul {
				list-style: circle;
				list-style-position: inside;
				padding: 0;
			}
		}
	}
}

.iphone-graphic-inner {
	padding: 2em;
	img.iphone-screen {
	}
}

.pricing-outer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pricing{
	font-weight: bold;
	color: $r-dark-blue;
}

.contact-outer {
	padding: 0 2em 0 2em;
	.form-header {
		color: $r-dark-blue;
	}
}

.button {
	padding: 1em;
	border: 1px $r-dark-blue solid;
	width: auto;
	background-color: inherit;
	border-radius: 10px;
	font-family: $Panton;
	text-decoration: none;
	transition: background-color .25s ease-in-out;
	&:visited {
		color: $r-dark-blue;
	}
	&:hover {
		color: $white;
		background-color: $r-dark-blue;
		transition: background-color .25s ease-in-out;
	}
}

.center {
	margin: 4em auto;
}

// GRAVITY FORMS STYLING

.gform_heading {
	display: none;
}

/*** REMOVE LABEL ON FIELDS USING PLACEHOLDER ***/

.gform_wrapper .top_label .gfield_label,
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
 display: none !important;
}
/*** FIELD STYLING ***/
input[type=text],
textarea {
 background: #fff;
 border: none;
 border-radius: 0;
 color: #999 !important;
 padding: 15px !important;
}

.gform_wrapper .gform_footer input.button {
	padding: 1em !important;
	border: 1px $r-dark-blue solid;
	color: $r-dark-blue;
  padding: .5em .5em;
  margin: 2em 0 2em 0;
  width: auto;
  background-color: inherit;
  border-radius: 10px;
  font-family: $Panton;
  text-decoration: none;
  transition: background-color .25s ease-in-out;
	&:hover {
		color: $white;
		background-color: $r-dark-blue;
		transition: background-color .25s ease-in-out;
	}
}


.gform_wrapper .gform_footer {
	padding: 1em 0 2em 0 !important;
}

.faqs {
	padding: 2em 5em 2em 5em;
	text-align: left;
	background-color: $white;
	.section-heading-faq {
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 3.5em;
		font-weight: bold;
		color: $r-dark-blue;
		margin: 0;
		text-align: center;
	}
	dt {
		font-family: $Panton;
		font-weight: bold;
		font-size: 1.6em;
		padding: .5em 0 .5em 0;
		cursor: pointer;
	}
	.answer{
		font-family: $Panton;
		font-weight: normal;
		font-size: 1.2em;
		padding-bottom: .5em;
	}
}




/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

/*
We like having these classes for use in iPad and larger devices
so we've copied them here.
*/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
	}

	.widget {

		ul {
			li {

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/
.source-org {
	margin-top: 0;
}
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */
